{% extends "base.html" %}

{% block body %}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
      integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>

<script type="text/javascript">
    $("#telefone").mask("(00) 00000-0000");

</script>

<div class="row bg border-top border-bottom border-dark">
    <div class="col-3">
    </div>
    <div class="col-6">
        <div class="bg py-4 ">
            <div class="container mb-5 text-center cinza p-3 px-5 border border-2 mt-5 rounded border-warning shadow shadow-5">
                <form method='POST' action="" class="rounded-5 mt-3">
                    {{ form.csrf_token }}
                    <div class='form-group pb-3'>
                        {% if form.nome.errors %}
                        <strong>{{ form.nome.label }}</strong>
                        {{ form.nome (class="form-control mt-1 is-invalid") }}
                        <div class="invalid-feedback">
                            {% for erro in form.nome.errors %}
                            {{ erro }}
                            {% endfor %}
                        </div>
                        {% else %}
                        <strong>{{ form.nome.label }}</strong>
                        {{ form.nome (class="form-control mt-1") }}
                        {% endif %}
                    </div>
                    <div class='form-group pb-3'>
                        {% if form.email.errors %}
                        <strong>{{ form.email.label }}</strong>
                        {{ form.email (class="form-control mt-1 is-invalid") }}
                        <div class="invalid-feedback">
                            {% for erro in form.email.errors %}
                            {{ erro }}
                            {% endfor %}
                        </div>
                        {% else %}
                        <strong>{{ form.email.label }}</strong>
                        {{ form.email (class="form-control mt-1") }}
                        {% endif %}
                    </div>
                    <div class='form-group pb-3'>
                        {% if form.telefone.errors %}
                        <strong>{{ form.telefone.label }}</strong>
                        {{ form.telefone (class="form-control mt-1 is-invalid", id='telefone') }}
                        <div class="invalid-feedback">
                            {% for erro in form.telefone.errors %}
                            {{ erro }}
                            {% endfor %}
                        </div>
                        {% else %}
                        <strong>{{ form.telefone.label }}</strong>
                        {{ form.telefone (class="form-control mt-1") }}
                        {% endif %}
                    </div>
                    <div class='form-group pb-4'>
                        {% if form.mensagem.errors %}
                        <strong>{{ form.mensagem.label }}</strong>
                        {{ form.mensagem (class="form-control mt-1 is-invalid") }}
                        <div class="invalid-feedback">
                            {% for erro in form.mensagem.errors %}
                            {{ erro }}
                            {% endfor %}
                        </div>
                        {% else %}
                        <strong>{{ form.mensagem.label }}</strong>
                        {{ form.mensagem (class="form-control mt-1") }}
                        {% endif %}
                    </div>
                    <div style="display: flex; align-items: center; justify-content: center; flex-direction: column;">
                        <button style="border-radius: 20px; padding: 18px 25px">
                            <div class="svg-wrapper-1">
                                <div class="svg-wrapper">
                                    <svg xmlns="http://www.w3.org/2000/svg"  style="color: #000000;" viewBox="0 0 24 24" width="24" height="24">
                                        <path fill="none" d="M0 0h24v24H0z"></path>
                                        <path fill="currentColor"
                                              d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z"></path>
                                    </svg>
                                </div>
                            </div>
                            <span style="color: #000000; font-weight: 400">Enviar</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}
