{% extends "base.html" %}

{% block body %}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>

<script type="text/javascript">
    $("#telefone").mask("(00) 00000-0000");
</script>

<div class="row bg border-top border-bottom border-dark">
    <div class="col-3">
    </div>
    <div class="col-6">
        <div class="bg py-4 ">
            <div class="container mb-5 text-center cinza p-3 px-5 border border-2 mt-5 rounded border-warning shadow shadow-5">
                <form method='POST' action="" class="rounded-5 mt-3">
                    {{ form.csrf_token }}
                    <div class='form-group'>
                        {% if form.nome.errors %}
                        <strong>{{ form.nome.label }}</strong>
                        {{ form.nome (class="form-control mt-1 is-invalid") }}
                        <div class="invalid-feedback">
                            {% for erro in form.nome.errors %}
                            {{ erro }}
                            {% endfor %}
                        </div>
                        {% else %}
                        <strong>{{ form.nome.label }}</strong>
                        {{ form.nome (class="form-control mt-1") }}
                        {% endif %}
                    </div>
                    <div class='form-group'>
                        {% if form.email.errors %}
                        <strong>{{ form.email.label }}</strong>
                        {{ form.email (class="form-control mt-1 is-invalid") }}
                        <div class="invalid-feedback">
                            {% for erro in form.email.errors %}
                            {{ erro }}
                            {% endfor %}
                        </div>
                        {% else %}
                        <strong>{{ form.email.label }}</strong>
                        {{ form.email (class="form-control mt-1") }}
                        {% endif %}
                    </div>
                    <div class='form-group'>
                        {% if form.telefone.errors %}
                        <strong>{{ form.telefone.label }}</strong>
                        {{ form.telefone (class="form-control mt-1 is-invalid", id='telefone') }}
                        <div class="invalid-feedback">
                            {% for erro in form.telefone.errors %}
                            {{ erro }}
                            {% endfor %}
                        </div>
                        {% else %}
                        <strong>{{ form.telefone.label }}</strong>
                        {{ form.telefone (class="form-control mt-1") }}
                        {% endif %}
                    </div>
                    <div class='form-group'>
                        {% if form.mensagem.errors %}
                        <strong>{{ form.mensagem.label }}</strong>
                        {{ form.mensagem (class="form-control mt-1 is-invalid") }}
                        <div class="invalid-feedback">
                            {% for erro in form.mensagem.errors %}
                            {{ erro }}
                            {% endfor %}
                        </div>
                        {% else %}
                        <strong>{{ form.mensagem.label }}</strong>
                        {{ form.mensagem (class="form-control mt-1") }}
                        {% endif %}
                    </div>
                    <div class="mt-3" >{{ form.botao (class= "btn btn-lg btn-warning mb-5 border-dark rounded-0 et_pb_button
                        et_pb_more_button fonteperfil spacingnovo", style="font-family:Candara, Garamond;
                        font-color:black; " ) }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



{% endblock %}
