@media (max-width: 760px) {

    #wilson {
        font-size: 25px;
    }

    .cinza {
        margin: auto auto;
    }

    #texto {
        margin: auto auto;
    }

    #imagem-camila {
        max-width: 280px;
        margin-left: -2em;
    }

    .letra_grossa {
        font-weight: 500;
    }

    .letra-menor {
        font-size: 17px;
    }

    .fonteperfil {
        font-size: 25px;
        color: #44494d;
        letter-spacing: 3px;
        line-height: 1.8em;
    }

    .card {
        position: relative;
        border-radius: 20px;
        margin: auto auto;
        scale: 0.8;
    }

    #sobre {
        font-size: 50px;
    }

    .text-title {
        font-size: 20px;
        color: #44494d;
    }

    .tamanho_letra {
        font-size: 60px;
        margin-top: 8px;
        letter-spacing: -2px;
        line-height: 70px;
    }

    .alinhar {
        margin-left: auto;
        margin-right: auto;
        display: flex;
    }

    .responsividade {
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    #ocard {
        padding: 0;
    }

    #imagem-wilson {
        max-width: 280px;
        margin-left: -1em;
    }

    #imagem-carla {
        max-width: 280px;
        margin-left: -1em;
    }

    #imagem-daniela {
        width: 280px;
        margin-left: -1.3em;
    }


    @media (max-width: 450px) {
        #card-daniela {
            height: 500px;
        }
    }

    .alinhar-responsivo {
        margin-left: -13px
    }

    .obotao {
        padding: 9px 6px;
    }

    #botao {
        font-weight: 600;
        font-size: 14px;
        color: #44484b;
        padding: 8px 12px;
        transition: all 0.4s;

    }


    #botao:hover {
        transform: scale(0.9);
    }

    .row .col-7 img {
        text-align: center;
        max-width: 260px;
    }
}